* {
    margin: 0px;
}

header,
footer {
    text-align: center;
    box-shadow: 5px 5px 5px lightgray;
    padding: 10px 5px;
    background-color: #173f6c;
    color: aliceblue;

}

header {
    margin-top: 15px;
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
}

body {
    padding-bottom: 80px;
    /*to allow the bottom of page to be seen when scrolling on mobile*/
}

/*NAV STYLES*/
.nav-style ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-style li {
    display: inline-block;
}

.nav-style a {
    display: inline-block;
    padding: 10px 15px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

a:link{
    color: #fff;
}

a:visited {
    color: lightgray;
}

nav a {
    display: inline-block;
    margin: 10px 20px;
}

.nav-style a:hover {
    color: lightgray;
}

/* RESPONSIVE DESIGN - NAV*/
@media (max-width: 768px) {
    .nav-style ul {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}


/* DEGREE INFO */
.degree-info {
    display: flex;
    align-items: center;
    background-color: rgb(247, 250, 251);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 40%;
}

/* DEGREE INFO - Image Styling (Carmen's photo)*/
.degree-info img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* DEGREE INFO - Text Styling */
.degree-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #173f6c;
    margin: 0 0 5px;
}

.degree-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 0 0 10px;
}


/*HEADER 2 styles*/
h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #173f6c;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*WEB PROJECT pg styles*/
.project-gallery img {
    display: block;
    margin: auto;
    width: 250px;
    height: auto;
    color: #173f6c;
    border: lightgray solid 10px;
    box-shadow: 5px 5px 5px rgb(129, 127, 127);

}

.project-gallery ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.project-gallery a {
    display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: #173f6c;
    text-decoration: none;
    margin-bottom: 10px;
}

.project-gallery a:link {
    color: #173f6c;
}

.project-gallery a:visited {
    color: #3872b4;
}

.project-gallery a:hover {
    color: lightgrey;
}

.project-gallery h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #173f6c;
    margin-bottom: 20px;
}

/* ABOUT ME Section*/
.about-me {
    position: relative;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin: auto;
    width: 60%;
}

/* About Me Header Styling */
.about-me-header {
    position: relative;
    text-align: center;
    margin-top: -30px;
    z-index: 10;
}

.about-me-header h2 {
    background-color: #173f6c;
    color: white;
    padding: 10px 20px;
    margin: auto;
    width: 60%;
    border-radius: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.about-me-content p {
    margin: 0px 0px 15px 0px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    color: #173f6c;
}


.about-me-content h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #173f6c;
    margin-top: 20px;
    margin-bottom: 5px;
}

/*TABLE*/
.class-schedule-table table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 60%;
    font-family: 'Playfair Display', serif;

}

.class-schedule-table th {
    background-color: whitesmoke;
    text-align: left;

}

/*CONTACT styles*/
.contact-form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7fafa;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #173f6c;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #173f6c;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: lightgray;
}

.contact-form small.contact-note {
    display: block;
    font-size: 0.9rem;
    color: #ff6347;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}



/* FOOTER Styling*/
.social-icons i {
    color: aliceblue;
    padding: 5px;
}

/*Email Hover*/
.social-icons a:hover i.fa-envelope {
    color: lightsalmon;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    margin-top: 20px;
    z-index: 100;

}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}